<div class="row">
  <div class="col-md-4" *ngFor="let item of cityWeatherData">
    <div class="card text-center mb-3">
      <h2  class="card-header">
        {{ item.data.name }}
      </h2>
      <div class="card-body">
        <h5 class="">{{ (item.data.main.temp - 273.15).toFixed(1) }}°C</h5>
        <p class="card-text">{{ item.data.weather[0].description }}</p>
        <p class="card-title">{{ item.data.main.pressure }} hPa</p>
        <p>Wind: {{ item.data.wind.speed }} m/s</p>
      </div>
      <div class="card-footer text-muted">
        {{ item.data.dt * 1000 | date: 'full' }}
      </div>
    </div>
  </div>
</div>
